In [8]:
a = 10
if a == 10 :
    print("this is my first condition")

this is my first condition

In [4]:
a = 10
if a >5 :
    pass

In [6]:
a = 10
if a >8 :
    print("print this if condition is true ")

print this if condition is true

In [7]:
a = 10
if a != 11:
    print ("my condition is false")
else :
    print("print this")

my condition is false

In [9]:
a = 10
if a == 11:
    print ("my condition is false")
else :
    print("print this")

print this

In [11]:
a = 10
if a == 12 :
    print("here we are trying to coompare 10 with 12")
elif a ==10:
    print("we akre trying ti comapare 10 with 11")
else :
    print("if all the blocks will fail then do this")

we akre trying ti comapare 10 with 11

In [16]:
price = 500

if price > 500 :
    print("may be I won't be able to buy a jacket")
elif price < 500 :
    print("I will be able to be buy a jacket")
elif price == 500 :
    print ("for sure I will be able to buy")
else :
    print ("I don't know")

for sure I will be able to buy

In [17]:
price > 500

False

In [18]:
price < 500

False

In [19]:
price == 500

True

In [20]:
l = [1,2,3,4,5,6]
2 in l

True

In [23]:
if 60 in l :
    print("Try to perfoorm a task")
else : 
    print("do not perform this task")

do not perform this task

In [22]:
60 in l

False

In [25]:
l

[1, 2, 3, 4, 5, 6]

In [ ]:
if 10 in l :
    print("try to do addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do multiplictation")

In [28]:
if 10 in l :
    print("try to do addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do multiplictation")
if 4 in l :
    print("try this new statement")

try to do sub
try this new statement

In [29]:
a = 400

In [ ]:
b = int(input())

In [ ]:
b

In [ ]:
type(b)

In [ ]:
a = 400

In [ ]:
b = input()

In [ ]:
price = int(input())
if price <500 :
    print("I will be able to but something")
    if price < 400 :
        print("I will be able to buy a jacket")
    elif price is < 300 :
        print("I will be abe to buy a shirt")
    else :
        print("I won't be able to buy anything")
else :
    print("I won't be able to buy anything with this price tag")