In [1]:
l = [1,2,3,4,"rulu" , "swuro" , 23.34]

In [2]:
for i in l :
    print(i)

1
2
3
4
rulu
swuro
23.34

In [3]:
for i in l:
    pass

In [4]:
r = "rulu"
for i in r :
    print(i)

r
u
l
u

In [5]:
for i in l:
    print(i)
else :
    print("if for loop is going to complete itself, then it will execute else")

1
2
3
4
rulu
swuro
23.34
if for loop is going to complete itself, then it will execute else

In [6]:
l

[1, 2, 3, 4, 'rulu', 'swuro', 23.34]

In [7]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only for is going to complete itself")

1
2
3

In [8]:
s = "ruluyiswuro"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print string", s)

r
u
l
u
y
i
s
w
u
r
o
print string ruluyiswuro

In [9]:
t = (4,5,6,7,8,6,"rulu")
for i in t:
    print(i)

4
5
6
7
8
6
rulu

In [11]:
b = {4,5,6,7,7,7,7,7,8,"rulu"}

In [12]:
type(b)

set

In [13]:
b

{4, 5, 6, 7, 8, 'rulu'}

In [14]:
for i in b :
    print(i)

4
5
6
7
8
rulu

In [15]:
d = {'key1' : "sudh" , 'contact' : "sudhanshu@ineuron.ai" , "position" : "xyz"}

In [16]:
for i in d :
    print(i,":", d[i] )

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [17]:
d['key1']

'sudh'

In [18]:
range(9)

range(0, 9)

In [19]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [21]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [22]:
list(range(0,9, 2))

[0, 2, 4, 6, 8]

In [23]:
list(range(0,9, -1))

[]

In [24]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
n =4
for i in range(4) :
    for j in range(0 ,i+1) :
        print("Rulu" , end = " ")
    print("\n")

Rulu

Rulu Rulu

Rulu Rulu Rulu

Rulu Rulu Rulu Rulu

In [36]:
n = 3 
for i in range(n) :
    for j in range(i,n-1) :
        print(" " * len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
            print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [37]:
t = (3,23,45,67,3,4,2,6)

In [38]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 3
5 4
6 2
7 6

In [39]:
s = "ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [40]:
s = "ineuron"

In [41]:
list(range(len(s)-1 , -1, -1))

[6, 5, 4, 3, 2, 1, 0]

In [42]:
s = "ineuron"
for i in list(range(len(s)-1 , -1, -1)):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [43]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [44]:
for i in d.items():
    print(i,type(i), type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [45]:
l = ["rulu", "swuro", 2453, "ruluyiswu@ineuron.ai",234, 34535]
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [46]:
l1

[2453, 234, 34535]

In [47]:
d = {1:264563, "name" : "rulu", "email_id" : "rulu@gmail.ai", 234 : "dgahjd", "23" : "agdh", 234 : "2645"}

In [48]:
for i in d :
    if type(i)==int:
        print(i, ":", d[i])

1 : 264563
234 : 2645

In [49]:
s = "aaaabbccd"

In [50]:
for i in set(s) :
    print(i,":", s.count(i))

b : 2
d : 1
c : 2
a : 4

In [51]:
s.count('a')

4

In [52]:
i = 2342435545453
for j in str(i):
    print(int(j),type(int(j)))

2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
2 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>
5 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>

In [53]:
str(i)

'2342435545453'

In [ ]:
#Extract all the 3's from the tuple

In [54]:
t = ("sudh","kumar", [1,2,3,4,5], (1,2,3,4), {3:3, "key1":"sudh","key2":"kumar"})

In [55]:
for i in t :
    if type(i)==list or type(i)==tuple :
        for j in i:
            if j==3:
                print(j)
    if type(i)==dict :
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [56]:
d = {4:5, "key1" : "rulu" , "key2" : "swuro"}

In [57]:
for i,j in d.items():
    print(i)

4
key1
key2

In [58]:
d.items()

dict_items([(4, 5), ('key1', 'rulu'), ('key2', 'swuro')])

In [127]:
n=4 
for i in range(4):
    for j in range(0,i+1):
        print("ineuron",end = " ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [ ]:
l = [[1,2,3,4],(2,3,4,5,6) ,(3,4,5,6,7) , set ([23,4,5,45, 4,4,5,45,4,5]), {"k1" : ""}]

In [71]:
n = 5
for i in range(n):
    for j in range(i, n-1):
        print(" " * len("ruluyiswuro"), end = " ")
    for j in range(0, i+1):
        print("ruluyiswuro", end = " ")
    for j in range (i):
        print("ruluyiswuro", end = " ")
    print("\n")

                                                ruluyiswuro

                                    ruluyiswuro ruluyiswuro ruluyiswuro

                        ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro

            ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro

ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro ruluyiswuro